@{
    ViewData["Title"] = "Company";
    Layout = "_ComSciLayout";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:ital@1&display=swap" rel="stylesheet">

<style>
    .card-img1 {
        border-radius: 50%;
        margin: 3px;
        margin-left: 10%;
        width: 50px;
        height: 50px;
        border: 1px solid #ddd;
    }

    img {
        margin: 20px;
        width: 500px;
    }

    .card-img {
        border-radius: 50%;
        margin: 20px;
        border: 1px solid #ddd;
        padding: 5px;
        width: 150px;
        height: 150px;
    }


    input {
        position: relative;
        width: 700px;
        height: 120px;
        background: #ced6e0;
        border: 3px solid #22a6b3;
        border-radius: 10px;
        margin-bottom: 3px;
        width: 100%;
        padding: 20px;
    }

    button {
        border: 3px solid #22a6b3;
        border-radius: 10px;
    }

    * {
        box-sizing: border-box;
    }

        *
        body {
            margin: 0;
        }

    /* Column container */
    .row {
        display: flex;
        content: "";
        clear: both;
    }

    /* Main column */
    .main {
        flex: 70%;
        background-color: white;
        padding: 20px;
        
    }

    p {
        margin: 0;
    }

    .column1 {
        float: left;
        width: 25%;
        padding-right: 10px;
        height: auto;
        background-color: #f1f1f1;
        position: fixed;
        border-radius: 30px;
        font-family: 'Kanit', sans-serif;
        box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
    }

        .column1:hover {
            box-shadow: 24px 30px 29px -20px rgba(79, 79, 79, 1);
        }


    .column2 {
        float: left;
        width: 100%;
        padding-left: 35%;
        height: 100%;
        font-family: 'Kanit', sans-serif;
    }
</style>

<div class="row">
    <div class="column1" align='center'>
        <img class="card-img" src="@ViewBag.comsci.ImgProfile" alt="ComSciLogo" /><br />
        <p><b>@ViewBag.comsci.Department</b></p>
        <p>@ViewBag.comsci.University</p>
        <p><b>Address: </b> @ViewBag.comsci.Address </p>
        <p><b>Tel: </b> @ViewBag.comsci.Phone </p>
        <p><b>E-Mail: </b> @ViewBag.userEmail </p><br>
    </div>



    <div class="column2">
        <div class="main">

            <div class="table1">
                <style>
                    table {
                        font-family: 'Kanit', sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                        box-shadow: 11px 13px  #95afc0;
                    }

                    td, th {
                        align-content: center;
                        border: 4px solid #b2bec3;
                        text-align: center;
                        padding: 8px;
                    }

                    tr:nth-child(even) {
                        background-color: #dfe6e9;
                    }
                </style>

                <h2>รายชื่อบริษัท</h2>
                <table>
                    <tr>
                        <th>รายชื่อบริษัทที่ลงทะเบียน</th>
                        <th>จำนวนคนที่รับ (ฝึกงาน)</th>
                        <th>จำนวนคนที่ได้ (ฝึกงาน)</th>
                        <th>จำนวนคนที่รับ (สหกิจ)</th>
                        <th>จำนวนคนที่ได้ (สหกิจ)</th>
                    </tr>
                    @foreach (Company com in ViewBag.companyList)
                    {
                        <tr>
                            <td>@Html.ActionLink(com.Name, "GetCompany", "Public", new { id = com.CID }, new { target = "_blank" })</td>
                            <td>@com.TrainneeNeed</td>
                            <td>@com.TrainneeGot</td>
                            <td>@com.CoopNeed</td>
                            <td>@com.CoopGot</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</div>



