@model CSFinder.Models.Post
@{
    ViewData["Title"] = "Home";
    Layout = "_ComSciLayout";
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:ital@1&display=swap" rel="stylesheet">
<style>
    .card-img1 {
        border-radius: 50%;
        margin: 3px;
        margin-top: 19px;
        margin-left: 22px;
        width: 50px;
        height: 50px;
        border: 1px solid #ddd;
    }

    img {
        object-fit: cover;
        margin: 20px;
        width: 500px;
        border-radius: 30px;
    }

    .card-img {
        border-radius: 50%;
        margin: 20px;
        border: 1px solid #ddd;
        padding: 5px;
        width: 150px;
        height: 150px;
        box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
    }

    .name {
        margin-top: -41px;
        margin-left: 54px;
        background-color: #2bcbba;
        width: 517px;
        height: 27px;
        /* padding-right: 10px; */
        padding-left: 23px;
        box-shadow: 6px 5px #0fb9b1
    }

    .profile {
        background-color: #2bcbba;
        width: 200px;
        height: 27px;
        /* padding-right: 10px; */
        /* padding-left: 23px; */
        box-shadow: 6px 5px #0fb9b1;
    }


    button {
        background-color: #f1f1f1;
        color: #227093;
        border: none;
        margin-left: 130px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 13px;
        margin-bottom: -21px;
        font-family: 'Kanit', sans-serif;
    }

        button:hover {
            background-color: #f7f1e3;
            font-family: 'Kanit', sans-serif;
        }

        button:disabled {
            background-color: #12CBC4;
            color: black;
            cursor: auto;
            font-family: 'Kanit', sans-serif;
        }

    * {
        box-sizing: border-box;
    }

        *
        body {
            font-family: Arial;
            margin: 0;
        }

     .row {
        display: flex;
        content: "";
        clear: both;
    }

    /* Main column */
    .main {
        flex: 70%;
        background-color: white;
        padding: 20px;
    }

    p {
        margin: 0;
    }

    .column1 {
        float: left;
        width: 25%;
        padding-right: 10px;
        height: auto;
        background-color: #f1f1f1;
        position: fixed;
        border-radius: 30px;
        font-family: 'Kanit', sans-serif;
        box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
    }

        .column1:hover {
            box-shadow: 24px 30px 29px -20px rgba(79, 79, 79, 1);
        }

    .column2 {
        float: left;
        width: 100%;
        padding-left: 35%;
        height: 100%;
        margin-top: 3%;
        font-family: 'Kanit', sans-serif;
    }

    .detail {
        width: max-content;
        padding-right: 10px;
        height: auto;
        margin-top: -48px;
        margin-bottom: 80px;
        background-color: #c8d6e5;
        border-radius: 30px;
        box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
        font-family: 'Kanit', sans-serif;
    }

        .detail:hover {
            box-shadow: 24px 30px 29px -20px rgba(79, 79, 79, 1);
        }



    .collapse {
        background-color: antiquewhite;
        margin-left: 60px;
        margin-top: 9px;
        width: 503px;
        border-radius: 15px;
        padding: 10px;
        font-family: 'Kanit', sans-serif;
    }
    
</style>


<div class="row">
    <div class="column1" align='center'>
        <img class="card-img" src="@ViewBag.comsci.ImgProfile" alt="ComSciLogo" /><br />
        <p><b>@ViewBag.comsci.Department</b></p>
        <p>@ViewBag.comsci.University</p>
        <p><b>Address: </b> @ViewBag.comsci.Address </p>
        <p><b>Tel: </b> @ViewBag.comsci.Phone </p>
        <p><b>E-Mail: </b> @ViewBag.userEmail </p><br>
    </div>

    <div class="column2">
        <div class="main">
            @foreach (PostCompany pc in ViewBag.postCompanyList)
            {
                <div class="detail">
                    <p>
                        <img class="card-img1" src="@pc.company.ImgProfile" />
                        <div class="name"><b>@pc.company.Name</b></div>
                    </p>
                    <div>
                        <a href="#detail" class="btn btn-info" data-toggle="collapse" style="margin-top: 22px; margin-left: 76px;">Detail</a>
                        <div id="detail" class="collapse" style="margin-left: 10%;">
                            @pc.post.Detail
                        </div>
                    </div>
                    <img style="margin-left: 76px;" src="@pc.post.ImgLink" />
                </div>
            }
            <script>

            </script>

        </div>
    </div>

</div>
