@{
    ViewData["Title"] = "Matching";
    Layout = "_ComSciLayout";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:ital@1&display=swap" rel="stylesheet">
<style>
    .card-img1 {
        border-radius: 50%;
        margin: 3px;
        margin-top: 19px;
        margin-left: 22px;
        width: 50px;
        height: 50px;
        border: 1px solid #ddd;
    }

    img {
        object-fit: cover;
        margin: 20px;
        width: 500px;
        border-radius: 30px;
    }

    .card-img {
        border-radius: 50%;
        margin: 20px;
        border: 1px solid #ddd;
        padding: 5px;
        width: 150px;
        height: 150px;
        box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
    }

    .row {
        display: flex;
        content: "";
        clear: both;
    }

    /* Main column */
    .main {
        flex: 70%;
        background-color: white;
        padding: 20px;
    }

    p {
        margin: 0;
    }

    .column1 {
        float: left;
        width: 25%;
        padding-right: 10px;
        height: auto;
        background-color: #f1f1f1;
        position: fixed;
        border-radius: 30px;
        font-family: 'Kanit', sans-serif;
        box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
    }

        .column1:hover {
            box-shadow: 24px 30px 29px -20px rgba(79, 79, 79, 1);
        }

    .column2 {
        float: left;
        width: 100%;
        padding-left: 35%;
        height: 100%;
        margin-top: 3%;
        font-family: 'Kanit', sans-serif;
    }


</style>

<div class="row">
    <div class="column1" align='center'>
        <img class="card-img" src="@ViewBag.user.ImgProfile" alt="ComSciLogo" /><br />
        <p><b>@ViewBag.user.Department</b></p>
        <p>@ViewBag.user.University</p>
        <p><b>Address: </b> @ViewBag.user.Address </p>
        <p><b>Tel: </b> @ViewBag.user.Phone </p>
        <p><b>E-Mail: </b> @ViewBag.userEmail </p><br>
    </div>

    <div class="column2">
        <div class="main">
            <h1>Matching</h1>
            <input type="button" value="Start Matching" onclick="location.href='@Url.Action("Home", "ComSci")'" style="background-color: #4CAF50;" />
            <input type="button" value="Stop Matching" onclick="location.href='@Url.Action("Home", "ComSci")'" style="background-color: #FF3333;" />

            @if (ViewBag.next != null)
            {
                <div>
                    <h5 style="color:blue;">Next match Time : @ViewBag.next</h5>
                </div>
            }
            else
            {
                <div>
                    <h5 style="color:gray;">No schedule match, please start matching.</h5>
                </div>
            }

        </div>
    </div>
</div>
