@{
    ViewData["Title"] = "Student";
    Layout = "_ComSciLayout";
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:ital@1&display=swap" rel="stylesheet">
<style>
    .card-img1 {
        border-radius: 50%;
        margin: 3px;
        margin-left: 10%;
        width: 50px;
        height: 50px;
        border: 1px solid #ddd;
    }

    img {
        margin: 20px;
        width: 500px;
    }

    .card-img {
        border-radius: 50%;
        margin: 20px;
        border: 1px solid #ddd;
        padding: 5px;
        width: 150px;
        height: 150px;
    }

    table {
        font-family: 'Kanit', sans-serif;
        border-collapse: collapse;
        width: 100%;
        box-shadow: 11px 13px  #95afc0;
    }

    .head-table, .numOfStudent,
    th {
        text-align: center;
    }

    td,
    th {
        border: 4px solid #b2bec3;
        text-align: center;
        padding: 10px;
    }

    table#t01 th {
        background-color: white;
        color: black;
    }

    table#t02 th {
        background-color: white;
        color: black;
    }

    tr:nth-child(even) {
        background-color: #dfe6e9;
    }

    th {
        width: 250px;
    }

     .row {
        display: flex;
        content: "";
        clear: both;
    }

    /* Main column */
    .main {
        flex: 70%;
        background-color: white;
        padding: 20px;
    }

    p {
        margin: 0;
    }

    .column1 {
        float: left;
        width: 25%;
        padding-right: 10px;
        height: auto;
        background-color: #f1f1f1;
        position: fixed;
        border-radius: 30px;
        font-family: 'Kanit', sans-serif;
    }

    .column2 {
        float: left;
        width: 100%;
        padding-left: 35%;
        height: 100%;
        margin-top:3%;
        font-family: 'Kanit', sans-serif;
    }
</style>


<div class="row">
    <div class="column1" align='center'>
        <img class="card-img" src="@ViewBag.comsci.ImgProfile" alt="ComSciLogo" /><br />
        <p><b>@ViewBag.comsci.Department</b></p>
        <p>@ViewBag.comsci.University</p>
        <p><b>ที่อยู่ติดต่อ: </b> @ViewBag.comsci.Address </p>
        <p><b>เบอร์ติดต่อ: </b> @ViewBag.comsci.Phone </p>
        <p><b>อีเมล: </b> @ViewBag.userEmail </p><br>
    </div>

    <div class="column2">
        <h2>รายชื่อนักศึกษา</h2>
        <table id="t02">
            <tr>
                <th class="head-table">รายชื่อนักศึกษา</th>
                <th class="head-table">สถานะ</th>
            </tr>
            @foreach (Student s in ViewBag.student)
            {
                <tr>
                    <td>@Html.ActionLink(s.Name, "GetStudent", "Public", new { id = s.SID }, new { target = "_blank" })</td>
                    <td>@s.Status</td>
                </tr>
            }

        </table>

    </div>
    
</div>


