@model CSFinder.Models.CompanyAccount
@{
    ViewData["Title"] = "RegisCompany";
    Layout = "_RegisLayout";
}
    <div align='center'>
        <img src="https://s3-ap-southeast-1.amazonaws.com/img-in-th/1d76f93a492d8a84475e08654ea78536.png" alt="1d76f93a492d8a84475e08654ea78536.png" width="170" height="160" border="0" />
        <br>
        <div class="col-md-9">
            <form id="myForm">
                <div class="form-group">
                    <div class="col-md-12">
                        <h3>Register for Company account</h3>
                    </div>
                </div>

                <div class="form-group" style=" width: 280px; background-color: #f8f8f8; height: 90px; border: 2px solid #ccc; border-radius: 4px;">
                    <div align="left" class="col-md-12">
                        <span>@Html.LabelFor(a => a.ID)</span>
                        <span>
                            @Html.TextBoxFor(a => a.ID, new { @class = "form-control", @placeholder = "Username" })
                            @Html.ValidationMessageFor(a => a.ID, "", new { @class = "text-danger" })
                        </span>

                    </div>
                </div>
                <div class="form-group" style=" width: 280px; background-color: #f8f8f8; height: 90px; border: 2px solid #ccc; border-radius: 4px;">
                    <div align="left" class="col-md-12">
                        <span>@Html.LabelFor(a => a.Password)</span>
                        <span>
                            @Html.PasswordFor(a => a.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
                        </span>
                    </div>
                </div>
                <div class="form-group" style=" width: 280px; background-color: #f8f8f8; height: 90px; border: 2px solid #ccc; border-radius: 4px;">
                    <div align="left" class="col-md-12">
                        <span>@Html.LabelFor(a => a.ConfirmPassword, new { @placeholder = "Confirm Password" }) </span>
                        <span>
                            @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(a => a.ConfirmPassword, "", new { @class = "text-danger" })
                        </span>
                    </div>
                </div>
                <div class="form-group" style=" width: 280px; background-color: #f8f8f8; height: 90px; border: 2px solid #ccc; border-radius: 4px;">
                    <div align="left" class="col-md-12">
                        <span>@Html.LabelFor(a => a.Name)</span>
                        <span>
                            @Html.TextBoxFor(a => a.Name, new { @class = "form-control", @placeholder = "Company's name" })
                            @Html.ValidationMessageFor(a => a.Name, "", new { @class = "text-danger" })
                        </span>
                    </div>
                </div>

                <div class="form-group" style=" width: 280px; background-color: #f8f8f8; height: 90px; border: 2px solid #ccc; border-radius: 4px;">
                    <div align="left" class="col-md-12">
                        <span>@Html.LabelFor(a => a.Email)</span>
                        <span>
                            @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })
                        </span>
                    </div>
                </div>
                <div class="form-group" style=" width: 280px; background-color: #f8f8f8; height: 90px; border: 2px solid #ccc; border-radius: 4px;">
                    <div align="left" class="col-md-12">
                        <span>@Html.LabelFor(a => a.Phone)</span>
                        <span>
                            @Html.TextBoxFor(a => a.Phone, new { @class = "form-control", @placeholder = "Phone number" })
                            @Html.ValidationMessageFor(a => a.Phone, "", new { @class = "text-danger" })
                        </span>
                    </div>
                </div>
                <div class="form-group" style=" width: 280px; background-color: #f8f8f8; height: 90px; border: 2px solid #ccc; border-radius: 4px;">
                    <div align="left" class="col-md-12">
                        <span>@Html.LabelFor(a => a.Detail)</span>
                        <span>
                            @Html.TextBoxFor(a => a.Detail, new { @class = "form-control", @placeholder = "More Details" })
                        </span>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-primary " onclick="RegisCompany()">Register</a>
                    </div>
                </div>
            </form>

        </div>

        <script>
            var RegisCompany = function () {
                debugger
                var data = $("#myForm").serialize();
                if (!$("#myForm").valid()) {

                    return false;
                }

                $.ajax({
                    type: "Post",
                    url: "/RegisLogin/RegisCompany",
                    data: data,
                    success: function (response) {

                        if (response == "fail") {
                            window.location.href = "/RegisLogin/RegisCompany";
                        }
                        else if (response.success) {
                            alert(response.responseText);
                            window.location.href = "/RegisLogin/Login";
                        }
                        else if (!response.success) {
                            alert(response.responseText);
                            window.location.href = "/RegisLogin/RegisCompany";
                        }
                        debugger
                    }
                })
            }
        </script>
</div>