@model CSFinder.Models.Company
@{
    ViewData["Title"] = "RegisCompany";
}

<h1>RegisCompany</h1>
<div class="RegisCompany">
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.CID)</td>
            <td>@Html.TextBoxFor(a => a.CID)</td>
            <td>@Html.ValidationMessageFor(a => a.CID)</td>
        </tr>
    </table>
</div>
<br>
<div class="RegisCompany">
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Name)</td>
            <td>@Html.TextBoxFor(a => a.Name)</td>
            <td>@Html.ValidationMessageFor(a => a.Name)</td>
        </tr>
    </table>
</div>
<br>
<div class="RegisCompany">
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Email)</td>
            <td>@Html.TextBoxFor(a => a.Email)</td>
            <td>@Html.ValidationMessageFor(a => a.Email)</td>
        </tr>
    </table>
</div>
<br>
<div class="RegisCompany">
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Phone)</td>
            <td>@Html.TextBoxFor(a => a.Phone)</td>
            <td>@Html.ValidationMessageFor(a => a.Phone)</td>
        </tr>
    </table>
</div>
<br>
<div class="RegisCompany">
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Detail)</td>
            <td>@Html.TextBoxFor(a => a.Detail)</td>
            <td>@Html.ValidationMessageFor(a => a.Detail)</td>
        </tr>
    </table>
</div>
<br>
<div class="RegisCompany">
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.TrainneeNeed)</td>
            <td>@Html.TextBoxFor(a => a.TrainneeNeed)</td>
            <td>@Html.ValidationMessageFor(a => a.TrainneeNeed)</td>
        </tr>
    </table>
</div>
<br>
<div class="RegisCompany">
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.CoopNeed)</td>
            <td>@Html.TextBoxFor(a => a.CoopNeed)</td>
            <td>@Html.ValidationMessageFor(a => a.CoopNeed)</td>
        </tr>
    </table>
</div>
<br>
<tr>
    <td>
        <input type="submit" value="Register" /> <b>
