@{
    ViewData["Title"] = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

<style>
    .card-img1 {
        border-radius: 50%;
        margin: 3px;
        margin-left: 10%;
        width: 50px;
    }

    img {
        margin: 20px;
        width: 500px;
    }

    .card-img {
        border-radius: 50%;
        margin: 20px;
        border: 1px solid #ddd;
        padding: 5px;
        width: 150px;
        height: 150px;
    }


    input {
        position: relative;
        width: 700px;
        height: 120px;
        background: #ced6e0;
        border: 3px solid #22a6b3;
        border-radius: 10px;
        margin-bottom: 3px;
        width: 100%;
        padding: 20px;
    }

    button {
        border: 3px solid #22a6b3;
        border-radius: 10px;
    }

    * {
        box-sizing: border-box;
    }

        *
        body {
            font-family: Arial;
            margin: 0;
        }
    /* Column container */
    .row {
        display: table;
        content: "";
        clear: both;
    }

    /* Main column */
    .main {
        flex: 70%;
        background-color: white;
        padding: 20px;
    }

    p {
        margin: 0;
    }

    .column1 {
        float: left;
        width: 25%;
        padding-right: 10px;
        height: 50%;
        background-color: #f1f1f1;
        position: fixed;
        border-radius: 30px;
    }

    .column2 {
        float: left;
        width: 100%;
        padding-left: 35%;
        height: 100%;
    }
</style>



<div class="row">
    <div class="column1" align='center'>
        <img class="card-img" src="@ViewBag.user.ImgProfile" alt="Avatar" align='center' /><br />
        <p><b>ชื่อ</b> @ViewBag.user.Name</p>
        <p><b>สถานะ:</b> @ViewBag.user.Status </p>
    </div>

    <div class="column2">
        <div class="main">
            @foreach (PostCompany pc in ViewBag.postCompanyList)
            {
                <table>
                    <tr>
                        <p>
                            <img class="card-img1" src="@pc.company.ImgProfile" />
                            @pc.company.Name
                        </p>
                    </tr>
                    <tr>
                        <div style="margin-left: 10%;">@pc.post.Detail</div>
                    </tr>
                    <tr>
                        <img style="margin-left: 20%;
" src="@pc.post.ImgLink" />
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
