@{
    ViewData["Title"] = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

<style>
.card-img1 {
        border-radius: 50%;
        margin: 3px;
        margin-left: 10%;
        width: 50px;
        height: 50px;
        border: 1px solid #ddd;
    }

    img {
        margin: 20px;
        width: 500px;
    }

    .card-img {
        border-radius: 50%;
        margin: 20px;
        border: 1px solid #ddd;
        padding: 5px;
        width: 150px;
        height: 150px;
    }


    input {
        position: relative;
        height: 50px;
        background: #f1f1f1;
        border: 3px solid #ced6e0;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 100px;
        width: 60%;
        padding: 20px;
    }

    button {
        border: 3px solid #22a6b3;
        border-radius: 10px;
    }

    * {
        box-sizing: border-box;
    }

        *
        body {
            font-family: Arial;
            margin: 0;
        }
    /* Column container */
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    /* Sidebar/left column */
    .side {
        flex: 30%;
        background-color: #f1f1f1;
        padding: 20px;
    }

    /* Main column */
    .main {
        flex: 70%;
        background-color: white;
        padding: 20px;
    }

    p {
        margin: 0;
    }

    .collapsible {
        background-color: #ced6e0;
        color: lightslategray;
        border: none;
        margin-left: 130px;
        border-radius: 4px;
        cursor: pointer;
    }

        .collapsible:hover {
            background-color: #f1f1f1;
        }

        .collapsible:disabled {
            background-color: #f1f1f1;
            color: #aaa;
            cursor: auto;
        }

    #myDIV {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: white;
    }

    .collapsible1 {
        background-color: #ced6e0;
        color: lightslategray;
        border: none;
        margin-left: 3px;
        border-radius: 4px;
        cursor: pointer;
        cursor: hand;
    }

        .collapsible1:hover {
            background-color: #f1f1f1;
        }

        .collapsible1:disabled {
            background-color: #f1f1f1;
            color: #aaa;
            cursor: auto;
        }

    #myDIV1 {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: white;
    }
     p {
        margin: 0;
    }

 .column1 {
        float: left;
        width: 25%;
        padding-right: 10px;
        height: 50%;
        background-color: #f1f1f1;
        position: fixed;
        border-radius: 30px;
    }

    .column2 {
        float: left;
        width: 100%;
        padding-left: 40%;
        height: 100%;
    }
</style>


<div class="row">
    <div class="column1" align='center'>
        <img class="card-img" src="@ViewBag.user.ImgProfile" alt="Avatar" /><br />
        <p><b>ชื่อ</b> @ViewBag.user.Name</p>
        <p><b>สถานะ:</b> @ViewBag.user.Status </p>

    </div>

    <div class="column2">
        <div class="main">
            @foreach (PostCompany pc in ViewBag.postCompanyList)
            {


                <p>
                    <img class="card-img1" src="@pc.company.ImgProfile" />
                    @pc.company.Name
                </p>

                <button onclick="myFunction()" class="collapsible">More Detail</button>
                <button onclick="myFunction1()" class="collapsible1">Ranking</button>

                <div id="myDIV" style="margin-left: 10%;">
                    @pc.post.Detail
                </div>

                <div id="myDIV1" style="margin-left: 10%;">
                    <input id="Rank1" type="text" placeholder="อันดับที่1" />
                    <input id="Rank2" type="text" placeholder="อันดับที่2" />
                    <input id="Rank3" type="text" placeholder="อันดับที่3" />
                    <br/>
                    <a href="History" class="btn btn-primary float-right" onclick="">Choose</a>
                </div>
                <img style="margin-left: 20%;" src="@pc.post.ImgLink" />


            }
            <script>

                function myFunction() {
                    var x = document.getElementById("myDIV");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>
            <script>

                function myFunction1() {
                    var x = document.getElementById("myDIV1");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>
        </div>


    </div>
    </div>
