@{
    ViewData["Title"] = "Profile";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:ital@1&display=swap" rel="stylesheet">

<style>
    .card-img1 {
        border-radius: 50%;
        margin: 3px;
        margin-top: 19px;
        margin-left: 22px;
        width: 50px;
        height: 50px;
        border: 1px solid #ddd;
    }

    img {
        object-fit: cover;
        margin: 20px;
        width: 500px;
        border-radius: 30px;
    }

    .card-img {
        border-radius: 50%;
        margin: 20px;
        border: 1px solid #ddd;
        padding: 5px;
        width: 150px;
        height: 150px;
        box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
    }

    .name {
        margin-top: -60px;
        margin-left: 54px;
        background-color: #2bcbba;
        width: 517px;
        height: 27px;
        /* padding-right: 10px; */
        padding-left: 23px;
        box-shadow: 6px 5px #0fb9b1
    }

    .profile {
        background-color: #2bcbba;
        width: 200px;
        height: 27px;
        /* padding-right: 10px; */
        /* padding-left: 23px; */
        box-shadow: 6px 5px #0fb9b1;
    }



    input {
        position: relative;
        background: #f1f1f1;
        border: 3px solid #ced6e0;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 5px;
        height: 40px;
        width: 100%;
    }

  button {
        background-color: #5F9EA0;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 4%;
        margin-bottom: 5%;
        font-family: 'Kanit', sans-serif;
        text-align:center;
        padding:1%
    }

    button:hover {
        background-color: #2F4F4F;
        font-family: 'Kanit', sans-serif;
        color: white
    }

    button:disabled {
        background-color: #2F4F4F;
        color: white;
        cursor: auto;
        font-family: 'Kanit', sans-serif;
    }


    * {
        box-sizing: border-box;
    }

        *
        body {
            font-family: Arial;
            margin: 0;
        }

    .column1 {
        float: left;
        width: 25%;
        padding-right: 10px;
        height: auto;
        background-color: #f1f1f1;
        position: fixed;
        border-radius: 30px;
        box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
        font-family: 'Kanit', sans-serif;
    }

        .column1:hover {
            box-shadow: 24px 30px 29px -20px rgba(79, 79, 79, 1);
        }

    .main {
        flex: 70%;
        padding: 20px;
        float: left;
        width: 100%;
        padding-right: 10px;
        height: auto;
        background-color: #f1f1f1;
        border-radius: 30px;
        box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
    }

    .detail {
        width: max-content;
        padding-right: 10px;
        height: auto;
        margin-bottom: 20px;
        margin-left: 70px;
        background-color: #c8d6e5;
        border-radius: 30px;
        box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
        font-family: 'Kanit', sans-serif;
    }

        .detail:hover {
            box-shadow: 24px 30px 29px -20px rgba(79, 79, 79, 1);
        }

    .column2 {
        float: left;
        width: 100%;
        padding-left: 30%;
        height: 100%;
    }
    p{
        font-family: 'Kanit', sans-serif;
    }

</style>


<div class="row">
    <div class="column1" align='center'>
        <img class="card-img" src="@ViewBag.user.ImgProfile" alt="Avatar" /><br />
        <p><b>Name:</b> @ViewBag.user.Name</p>
        <p><b>Status:</b> @ViewBag.user.Status </p>
        <p><b>Type:</b> @ViewBag.user.Type </p>
        <p class="profile"><b>Currently rank choose</b></p>
        @if (ViewBag.rank1Name != null)
        {
            <p><b>Rank 1:</b> @ViewBag.rank1Name </p>
        }
        else
        {
            <p><b>Rank 1:</b> Not choosing yet </p>
        }
        @if (ViewBag.rank2Name != null)
        {
            <p><b>Rank 2:</b> @ViewBag.rank2Name </p>
        }
        else
        {
            <p><b>Rank 2:</b> Not choosing yet </p>
        }
        @if (ViewBag.rank3Name != null)
        {
            <p><b>Rank 3:</b> @ViewBag.rank3Name </p>
        }
        else
        {
            <p><b>Rank 3:</b> Not choosing yet </p>
        }
        <button onclick="window.location.href = '/Student/EditProfile';">Edit Profile</button>
    </div>

</div>


    <div class="column2">
        <div class="main">
            <div style=" height: auto; background-color: #f1f1f1; border-radius: 30px;">
                <table>
                    <tr style="margin-left: 10%;">
                        <div style="background-color: #40739e; box-shadow: 5px 10px #273c75; margin:2%;">
                            <p><b style=" margin-left: 10px; font-size: 18px; color: wheat;">ชื่อ-นามสกุล</b></p>
                        </div>
                        <p style="margin:3%; font-size: 18px"> : @ViewBag.user.Name </p>
                        <div style="background-color: #40739e; box-shadow: 5px 10px #273c75; margin:2%;">
                            <p><b style=" margin-left: 10px; font-size: 18px; color: wheat;">เบอร์โทรศัพท์</b> </p>
                        </div>
                        <p style="margin:3%;" font-size: 18px> : @ViewBag.user.Phone  </p>
                        <div style="background-color: #40739e; box-shadow: 5px 10px #273c75; margin:2%;">
                            <p><b style=" margin-left: 10px; font-size: 18px; color: wheat;">Email:</b></p>
                        </div>
                        <p style="margin:3%;" font-size: 18px> : @ViewBag.userEmail  </p>
                        <div style="background-color: #40739e; box-shadow: 5px 10px #273c75; margin:2%;">
                            <p><b style=" margin-left: 10px; font-size: 18px; color: wheat;">อันดับที่เลือก</b> </p></div>
                        <p style="margin:3%;" font-size: 18px>
                            1: @ViewBag.Rank1name <br/>
                            2: @ViewBag.Rank2name <br/>
                            3: @ViewBag.Rank3name <br/>

                        </p>
                    </tr>
                    <tr>
                        @if (ViewBag.user.ImgResume != null || ViewBag.user.ImgResume != "")
                        {
                            <div style="background-color: #40739e; box-shadow: 5px 10px #273c75; margin:2%;">
                                <p><b style=" margin-left: 10px; font-size: 18px; color: wheat;">Resume</b></p>
                            </div>
                            <div align='center'>
                                <img src="@ViewBag.user.ImgResume" alt="Resume" border="0" />
                            </div>
                        }
                        @if (ViewBag.user.ImgTranscript != null || ViewBag.user.ImgResume != "")
                        {
                            <div style=" background-color: #40739e; box-shadow: 5px 10px #273c75; margin: 2%;">
                                <p><b style=" margin-left: 10px; font-size: 18px; color: wheat;">Transcript</b></p>
                            </div>
                            <div align='center'>
                                <img src="@ViewBag.user.ImgTranscript" alt="Resume" border="0" />
                            </div>

                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

