@{
    ViewData["Title"] = "Profile";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

<style>

    img {
        margin: 20px;
        width: 500px;
    }

    .card-img {
        border-radius: 50%;
        margin: 20px;
        width: 200px;
    }

    .text {
        border-left: 2px solid gray;
    }
</style>


<div style="display: flex;">
    <div class="text-left">
        <div class="profile">
            <img class="card-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" /><br />
            <p><b>ชื่อ:</b> @ViewBag.user.Name</p>
            <p><b>สถานะ:</b> @ViewBag.user.Status  </p>
            <input type="button" value="Edit Profile" onclick="location.href='@Url.Action("EditProfile", "Student")'" />
        </div>
    </div>
    <div class="text">
        <div class="profile" style="margin: 10%; margin-top:10%">
            <p><b>ชื่อ:</b> @ViewBag.user.Name </p>
            <p><b>เบอร์โทรศัพท์:</b> @ViewBag.user.Phone  </p>
            <p><b>Email:</b> @ViewBag.userEmail  </p>
            <p><b>อันดับที่เลือก:</b> @ViewBag.user.Rank1  </p>
            @if (ViewBag.user.ImgResume != null)
            {
            <p><b>Resume:</b></p><img src="@ViewBag.user.ImgResume" alt="Resume" border="0" />
            }
            @if (ViewBag.user.ImgTranscript != null)
            {
            <p><b>Transcript:</b></p><img src="@ViewBag.user.ImgTranscript" alt="transcript" border="0" />
            }
        </div>
    </div>
</div>
