@model CSFinder.Models.Company
@{
    ViewData["Title"] = "EditProfile";
    Layout = "_CompanyLayout";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

<style>
    .card-img1 {
        border-radius: 50%;
        margin: 3px;
        margin-left: 10%;
        width: 50px;
        height: 50px;
        border: 1px solid #ddd;
    }

    img {
        margin: 20px;
        width: 500px;
    }

    .card-img1 {
        border-radius: 50%;
        margin: 20px;
        border: 1px solid #ddd;
        padding: 5px;
        width: 150px;
        height: 150px;
    }


    input {
        position: relative;
        width: 100%;
    }

    button {
        border: 3px solid #22a6b3;
        border-radius: 10px;
    }

    * {
        box-sizing: border-box;
    }

        *
        body {
            font-family: Arial;
            margin: 0;
        }
    /* Column container */
    .row {
        display: flex;
        content: "";
        clear: both;
    }

    /* Sidebar/left column */
    .side {
        flex: 30%;
        background-color: #f1f1f1;
        padding: 20px;
        width: 300px;
    }

    /* Main column */
    .main {
        flex: 70%;
        background-color: white;
        padding: 20px;
    }

    p {
        margin: 0;
    }

    .column1 {
        float: left;
        width: 25%;
        padding-right: 10px;
        height: 50%;
        background-color: #f1f1f1;
        position: fixed;
        border-radius: 30px;
    }

    .column2 {
        float: left;
        width: 100%;
        padding-left: 40%;
        height: 100%;
    }
</style>



<div class="row">
    <div class="column1" align='center'>
        <img class="card-img1" src="@Model.ImgProfile" border="0" /><br />
        <p><b>@Model.Name</b></p>
        <p><b>ที่อยู่ : </b>@Model.Address</p>
        <p><b>โทร : </b>@Model.Phone</p>
        <p><b>Email : </b>@ViewBag.userEmail</p>
    </div>

    <div class="column2">
        <div class="main">
            <div class="col-md-9">
                <form id="myForm">
                    <div class="form-group">
                        <div class="col-md-12">
                            <h3>Edit profile Student</h3>
                        </div>
                    </div>

                    <div class="form-group" style=" width: 320px; background-color: #f8f8f8; height: 100px; border: 2px solid #ccc; border-radius: 6px;">
                        <div align="left" class="col-md-12">
                            <span>@Html.LabelFor(model => model.Name)</span>
                            <span>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @Value = Model.Name })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                    <div class="form-group" style=" width: 320px; background-color: #f8f8f8; height: 100px; border: 2px solid #ccc; border-radius: 6px;">
                        <div align="left" class="col-md-12">
                            <span>@Html.LabelFor(model => model.Address)</span>
                            <span>
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @Value = Model.Address })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                    <div class="form-group" style=" width: 320px; background-color: #f8f8f8; height: 100px; border: 2px solid #ccc; border-radius: 6px;">
                        <div align="left" class="col-md-12">
                            <span>@Html.LabelFor(model => model.Phone)</span>
                            <span>
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @Value = Model.Phone })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                    <div class="form-group" style=" width: 320px; background-color: #f8f8f8; height: 100px; border: 2px solid #ccc; border-radius: 6px;">
                        <div align="left" class="col-md-12">
                            <span>@Html.LabelFor(model => model.TrainneeNeed)</span>
                            <span>
                                @Html.TextBoxFor(model => model.TrainneeNeed, new { @class = "form-control", @Value = Model.TrainneeNeed })
                                @Html.ValidationMessageFor(model => model.TrainneeNeed, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                    <div class="form-group" style=" width: 320px; background-color: #f8f8f8; height: 100px; border: 2px solid #ccc; border-radius: 6px;">
                        <div align="left" class="col-md-12">
                            <span>@Html.LabelFor(model => model.CoopNeed)</span>
                            <span>
                                @Html.TextBoxFor(model => model.CoopNeed, new { @class = "form-control", @Value = Model.CoopNeed })
                                @Html.ValidationMessageFor(model => model.CoopNeed, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                    <div class="form-group" style=" width: 320px; background-color: #f8f8f8; height: 125px; border: 2px solid #ccc; border-radius: 6px;">
                        <div align="left" class="col-md-12">
                            <span>@Html.LabelFor(model => model.Detail)</span>
                            <span>
                                @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @Value = Model.Detail })
                            </span>
                        </div>
                    </div>

                </form>

                <div class="form-group" style=" width: 320px; background-color: #F0F8FF; height: 65px; border: 2px solid #ADD8E6; border-radius: 6px;">
                    <div align="left" class="col-md-12">
                        <p><b>Resume:</b></p>
                        <div class="file-upload">
                            <input class="file-upload__input" type="file" name="myFile[]" id="myFile" multiple />
                            <script>
                                Array.prototype.forEach.call(document.querySelectorAll('.file-upload__boutton'), function (button) {
                                    const hiddenInput = button.parentElement.querySelector('.file-upload__input');
                                    const label = button.parentElement.querySelector('.file-upload__label');
                                    const defaultLabelText = 'No file(s) selected';

                                    label.textContent = defaultLabelText;
                                    label.title = defaultLabelText;

                                    button.addEventListener("click", function () {
                                        hiddenInput.click();
                                    });

                                    hiddenInput.addEventListener("change", function () {
                                        console.log(hiddenInput.files);
                                        const filenameList = Array.prototype.map.call(hiddenInput.files, function (file) {
                                            return file.name;
                                        });

                                        label.textContent = filenameList.join(',') || defaultLabelText;
                                        label.title = label.textContent;

                                    });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="form-group" style=" width: 320px; background-color: #F0F8FF; height: 65px; border: 2px solid #ADD8E6; border-radius: 6px;">
                    <div align="left" class="col-md-12">
                        <p><b>Transcript:</b></p>
                        <div class="file-upload">
                            <input class="file-upload__input" type="file" name="myFile[]" id="myFile" multiple />
                            <script>
                                Array.prototype.forEach.call(document.querySelectorAll('.file-upload__boutton'), function (button) {
                                    const hiddenInput = button.parentElement.querySelector('.file-upload__input');
                                    const label = button.parentElement.querySelector('.file-upload__label');
                                    const defaultLabelText = 'No file(s) selected';

                                    label.textContent = defaultLabelText;
                                    label.title = defaultLabelText;

                                    button.addEventListener("click", function () {
                                        hiddenInput.click();
                                    });

                                    hiddenInput.addEventListener("change", function () {
                                        console.log(hiddenInput.files);
                                        const filenameList = Array.prototype.map.call(hiddenInput.files, function (file) {
                                            return file.name;
                                        });

                                        label.textContent = filenameList.join(',') || defaultLabelText;
                                        label.title = label.textContent;

                                    });
                            </script>
                        </div><br />
                        <a href="Profile" class="btn btn-primary float-right " style="margin-top : 10px;background-color: #CD2E57;border: 2px solid #B22222;">Cancel</a>
                        <a href="#" class="btn btn-primary float-right" style="margin-top : 10px;background-color: #6ED746;border: 2px solid #64CD3C;" onclick="Save()">Save</a>
                    </div>
                </div>
            </div>
        </div>

            </div>
</div>
<script>
    function Save() {

        var data = $("#myForm").serialize();
        var myFrom = $("#myForm");

        if (!myFrom.valid()) {
            return false;
        }
        debugger
        $.ajax({
            type: "Post",
            url: "/Company/EditProfile",
            data: data,
            success: function (response) {
                if (response.success) {
                    alert(response.responseText);
                    window.location.href = "/Company/Profile";
                }
                else if (!response.success) {
                    alert(response.responseText);
                    window.location.href = "/Company/EditProfile";
                }
                debugger
            }
        })
    }
</script>
