@model CSFinder.Models.Post
@{
    ViewData["Title"] = "Home";
    Layout = "_CompanyLayout";
}
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:ital@1&display=swap" rel="stylesheet">
<!DOCTYPE html>
<html>
<head>
    <style>
    .card-img1 {
        border-radius: 50%;
        margin: 3px;
        margin-top: 19px;
        margin-left: 22px;
        width: 50px;
        height: 50px;
        border: 1px solid #ddd;
    }

    img {
        object-fit: cover;
        margin: 20px;
        width: 500px;
        border-radius: 30px;
    }

        .card-img {
            border-radius: 50%;
            margin: 20px;
            border: 1px solid #ddd;
            padding: 5px;
            width: 150px;
            height: 150px;
            box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
        }

        .name {
            margin-top: -58px;
            margin-left: 54px;
            background-color: #2bcbba;
            width: 517px;
            height: 27px;
            /* padding-right: 10px; */
            padding-left: 23px;
            box-shadow: 6px 5px #0fb9b1
        }

        .profile {
            background-color: #2bcbba;
            width: 200px;
            height: 27px;
            /* padding-right: 10px; */
            /* padding-left: 23px; */
            box-shadow: 6px 5px #0fb9b1;
        }


        button {
            background-color: #f1f1f1;
            color: #227093;
            border: none;
            margin-left: 130px;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 13px;
            margin-bottom: -21px;
            font-family: 'Kanit', sans-serif;
        }

            button:hover {
                background-color: #f7f1e3;
                font-family: 'Kanit', sans-serif;
            }

            button:disabled {
                background-color: #12CBC4;
                color: black;
                cursor: auto;
                font-family: 'Kanit', sans-serif;
            }

        * {
            box-sizing: border-box;
        }

            *
            body {
                font-family: Arial;
                margin: 0;
            }

        .column1 {
            float: left;
            width: 25%;
            padding-right: 10px;
            height: auto;
            background-color: #f1f1f1;
            position: fixed;
            border-radius: 30px;
            box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
            font-family: 'Kanit', sans-serif;
        }

            .column1:hover {
                box-shadow: 24px 30px 29px -20px rgba(79, 79, 79, 1);
            }

        .main {
            flex: 70%;
            padding: 20px;
            float: left;
            width: 100%;
            padding-right: 10px;
            height: auto;
            background-color: #f1f1f1;
            border-radius: 30px;
            box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
        }

        .detail {
            width: max-content;
            padding-right: 10px;
            height: auto;
            margin-bottom: 20px;
            margin-left: 23px;
            background-color: #c8d6e5;
            border-radius: 30px;
            box-shadow: 0px 15px 27px -20px rgba(79, 79, 79, 0.45);
            font-family: 'Kanit', sans-serif;
        }

            .detail:hover {
                box-shadow: 24px 30px 29px -20px rgba(79, 79, 79, 1);
            }

        .column2 {
            float: left;
            width: 100%;
            padding-left: 30%;
            height: 100%;
             font-family: 'Kanit', sans-serif;
        }

        .collapse {
            background-color: antiquewhite;
            margin-left: 60px;
            margin-top: 9px;
            width: 503px;
            border-radius: 15px;
            padding: 10px;
            font-family: 'Kanit', sans-serif;
        }

        .row {
            display: flex;
            content: "";
            clear: both;
        }

        .row {
            display: flex;
            content: "";
            clear: both;
        }


        hr {
            margin: 0;
            margin-top: 0;
            margin-bottom: 3px;
            border: 0;
            border-top: 1px solid #9da7b1;
        }

        .box {
            width: 700px;
        }


        * {
            box-sizing: border-box;
        }

            *
            body {
                font-family: Arial;
                margin: 0;
            }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
    }

    table#t01 th {
        background-color: black;
        color: white;
    }
    </style>
</head>
<body>

    <!-- The flexible grid (content) -->
    <div class="row">
        <div class="column1" align='center'>
            <img class="card-img" src="@ViewBag.company.ImgProfile" border="0" /><br />
            <p><b>@ViewBag.company.Name</b></p>
            <p><b>ที่อยู่ : </b>@ViewBag.company.Address</p>
            <p><b>โทร : </b>@ViewBag.company.Phone</p>
            <p><b>Email : </b>@ViewBag.userEmail</p><br>
        </div>

        <div class="column2">
            <div class="main">
                <form id="postForm">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="box">
                                <div id="Post">
                                    Create Post
                                    @{Model.CID = "1" ;}
                                    @{Model.PID = 1 ;}
                                    @Html.HiddenFor(a => a.CID)
                                    @Html.HiddenFor(a => a.PID)
                                    @Html.TextAreaFor(a => a.Detail, new { @class = "form-control", @placeholder = "Post something..." })
                                    @Html.ValidationMessageFor(a => a.Detail)
                                    @Html.TextBoxFor(a => a.ImgLink, new { @class = "form-control", @placeholder = "Link something..." })
                                    @Html.ValidationMessageFor(a => a.Detail)
                                </div>
                                <a href="home" class="btn btn-primary" onclick="PostImgCompany()">Upload image</a><br />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <a href="home" class="btn btn-primary float-right" style="margin-top: -54px; margin-right: 37px;" onclick="PostCompany()">Post</a>
                        </div>
                    </div><br />
                </form>
                @foreach (PostCompany pc in ViewBag.postCompanyList)
                {
                    <div class="detail">
                        <p>
                            <img class="card-img1" src="@pc.company.ImgProfile" />
                            <div class="name"><b>@pc.company.Name</b></div>
                        </p>
                        <div>
                            <a href="#detail" class="btn btn-info" data-toggle="collapse" style="margin-left: 76px; margin-top: 15px;">Detail</a>
                            <div id="detail" class="collapse" style="margin-left: 10%;">
                                @pc.post.Detail
                            </div>
                        </div>
                        <img style="margin-left: 76px;" src="@pc.post.ImgLink" />
                    </div>
                }

            </div>
        </div>
    </div>

</body>
</html>
<script>
    var PostCompany = function () {
        
        var data = $("#postForm").serialize();
        
        $.ajax({
            type: "Post",
            url: "/Company/Home",
            data: data,
            success: function (response) {
                alert(response.responseText);
                window.location.href = "/RegisLogin/Login";
                }

            
        })
        debugger
    }
</script>