<<<<<<< Updated upstream
﻿
@{
    ViewData["Title"] = "Home";
    Layout = "_CompanyLayout";
}

=======
﻿
@{
    ViewData["Title"] = "Home";
    Layout = "_CompanyLayout";
}


<!DOCTYPE html>
<html>
<head>
>>>>>>> Stashed changes
    <style>


        .card-img1 {
            border-radius: 50%;
            margin: 3px;
            margin-left: 10%;
            width: 50px;
        }

        img {
            margin: 20px;
            width: 500px;
        }

        .card-img {
            border-radius: 50%;
            margin: 20px;
            width: 200px;
        }


        input {
            position: relative;
            width: 700px;
            height: 120px;
            background: #ced6e0;
            border: 3px solid #22a6b3;
            border-radius: 10px;
            margin-bottom: 3px;
            width: 100%;
            padding: 20px;
        }

        button {
            border: 3px solid #22a6b3;
            border-radius: 10px;
        }
<<<<<<< Updated upstream
        hr {
            margin: 0;
            margin-top: 0;
            margin-bottom: 3px;
            border: 0;
            border-top: 1px solid #9da7b1;
        }
       .box{
           width:700px;
       }
    </style>
    <div style="display: flex;">
        <div class="text-left" style="width: 20%">
            <div class="home">
                <img class="card-img" src="https://sv1.picz.in.th/images/2020/04/10/QMlEgD.jpg" alt="SCG.jpg" border="0" /><br />
=======



        * {
            box-sizing: border-box;
        }

            *
            body {
                font-family: Arial;
                margin: 0;
            }
        /* Column container */
        .row {
            display: flex;
            flex-wrap: wrap;
        }

        /* Sidebar/left column */
        .side {
            flex: 30%;
            background-color: #f1f1f1;
            padding: 20px;
        }

        /* Main column */
        .main {
            flex: 70%;
            background-color: white;
            padding: 20px;
        }

        .proflie {
            display: grid-template-columns: 25% 75%;
        }
    </style>
</head>
<body>
    
        <!-- The flexible grid (content) -->
        <div class="row">
            <div class="side">
                <img class="card-img" src="@ViewBag.Post1Img" border="0" /><br />
>>>>>>> Stashed changes
                <p><b>@ViewBag.companyName</b></p>
                <p><b>ที่อยู่ : </b>@ViewBag.companyAddress</p>
                <p><b>โทร : </b>@ViewBag.companyPhone</p>
                <p><b>Email : </b>@ViewBag.companyEmail</p>
                <button>แก้ไขข้อมูล</button>
            </div>
            <div class="main">
           

                        <input id="Post" type="text" />
                        <button>PICTURE</button>

                        <div style="text-align:right"><button>POST</button></div>
                    
                

                <img class="card-img1" src="@ViewBag.ProfileOtherCompanyPost" border="0">
                <b>@ViewBag.companyPostName</b><br>
                <p style="margin-left: 10%;">@ViewBag.companyPostDetail</p>
                <img style="margin-left: 10%;" src="@ViewBag.PhotoOfOtherCompanyPost" border="0">
            </div>
        </div>
    
</body>
</html>
