@model CSFinder.Models.Post
@{
    ViewData["Title"] = "Home";
    Layout = "_CompanyLayout";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .card-img1 {
            border-radius: 50%;
            margin: 3px;
            margin-left: 10%;
            width: 50px;
        }

        img {
            margin: 20px;
            width: 500px;
        }

        .card-img {
            border-radius: 50%;
            margin: 20px;
            width: 200px;
        }


        input {
            position: relative;
            width: 700px;
            height: 120px;
            background: #ced6e0;
            border: 3px solid #22a6b3;
            border-radius: 10px;
            margin-bottom: 3px;
            width: 100%;
            padding: 20px;
        }

        button {
            border: 3px solid #22a6b3;
            border-radius: 10px;
        }

        hr {
            margin: 0;
            margin-top: 0;
            margin-bottom: 3px;
            border: 0;
            border-top: 1px solid #9da7b1;
        }

        .box {
            width: 700px;
        }


        * {
            box-sizing: border-box;
        }

            *
            body {
                font-family: Arial;
                margin: 0;
            }
        /* Column container */
        .row {
            display: flex;
            flex-wrap: wrap;
        }

        /* Sidebar/left column */
        .side {
            flex: 30%;
            background-color: #f1f1f1;
            padding: 20px;
        }

        /* Main column */
        .main {
            flex: 70%;
            background-color: white;
            padding: 20px;
        }

        .box {
            width: 620px;
            padding: 10px;
            border: 5px solid #CACFD2;
            margin: 0;
            border-radius: 10px;
            background-color: #D7DBDD;
        }

        .float-right {
            margin: 0px 110px 0px 80px;
        }

    </style>
</head>
<body>

    <!-- The flexible grid (content) -->
    <div class="row">
        <div class="side">
            <img class="card-img" src="@ViewBag.company.ImgProfile" border="0" /><br />
            <p><b>@ViewBag.company.Name</b></p>
            <p><b>ที่อยู่ : </b>@ViewBag.company.Address</p>
            <p><b>โทร : </b>@ViewBag.company.Phone</p>
            <p><b>Email : </b>@ViewBag.userEmail</p>
            <button>แก้ไขข้อมูล</button>
        </div>
        <div class="main">
            <form id="postForm">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="box">
                            <div id="Post">
                                Create Post
                                @Html.TextAreaFor(a => a.Detail, new { @class = "form-control", @placeholder = "Post something..." })
                                @Html.TextBoxFor(a => a.ImgLink, new { @class = "form-control", @placeholder = "Link something..." })
                            </div>
                            <a href="home" class="btn btn-primary" onclick="PostImgCompany()">Upload image</a><br />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <a href="home" class="btn btn-primary float-right" onclick="PostCompany()">Post</a>
                    </div>
                </div><br />
            </form>

                    @foreach (PostCompany p in ViewBag.postCompanyList)
                    {
                        <div class="oneOfPost">
                            <img class="card-img1" src="@p.company.ImgProfile" border="0">
                            <b>@p.company.Name</b><br>
                            <p style="margin-left: 10%;">@p.post.Detail</p>
                            <img style="margin-left: 10%;" src="@p.post.ImgLink" border="0">
                        </div>
                    }
</div>
    </div>

</body>
</html>
<script>
    var PostCompany = function () {
        
        var data = $("#postForm").serialize();
        console.log(data);
        debugger
        if (!$("#postForm").valid()) {

            return false;
        }

        $.ajax
        ({
            type: "Post",
            url: "/Company/Home",
            data: data,
            success: function (response) {

                if (response == "fail") {
                    window.location.href = "/Company/Home";
                }
                else if (response.success) {
                    alert(response.responseText);
                    window.location.href = "/Company/Home";
                }
                else if (!response.success) {
                    alert(response.responseText);
                    window.location.href = "/Company/Home"
                    debugger
                }
            }
        })
    }
</script>
