@model CSFinder.Models.Post
@{
    ViewData["Title"] = "Home";
    Layout = "_CompanyLayout";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:ital@1&display=swap" rel="stylesheet">
<!DOCTYPE html>
<html>
<head>
    <style>

        .card-img1 {
            border-radius: 50%;
            margin: 3px;
            margin-left: 10%;
            width: 50px;
            height: 50px;
            border: 1px solid #ddd;
        }

        img {
            margin: 20px;
            width: 500px;
        }

        .card-img {
            border-radius: 50%;
            margin: 20px;
            border: 1px solid #ddd;
            padding: 5px;
            width: 150px;
            height: 150px;
        }
            table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .head-table, .numOfStudent,
    th {
        text-align: center;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
    }

    table#t01 th {
        background-color: black;
        color: white;
    }

    table#t02 th {
        background-color: black;
        color: white;
    }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        th {
            width: 250px;
        }

        .row {
            display: flex;
            content: "";
            clear: both;
        }

        .row {
            display: flex;
            content: "";
            clear: both;
        }


        input {
            position: relative;
            width: 700px;
            height: 120px;
            background: #ced6e0;
            border: 3px solid #22a6b3;
            border-radius: 10px;
            margin-bottom: 3px;
            width: 100%;
            padding: 20px;
        }

        button {
            border: 3px solid #22a6b3;
            border-radius: 10px;
        }

        hr {
            margin: 0;
            margin-top: 0;
            margin-bottom: 3px;
            border: 0;
            border-top: 1px solid #9da7b1;
        }

        .box {
            width: 700px;
        }


        * {
            box-sizing: border-box;
        }

            *
            body {
                font-family: Arial;
                margin: 0;
            }
        /* Column container */
        .row {
            display: flex;
            flex-wrap: wrap;
        }

        /* Sidebar/left column */
        .side {
            flex: 30%;
            background-color: #f1f1f1;
            padding: 20px;
        }

        /* Main column */
        .main {
            flex: 70%;
            background-color: white;
            padding: 20px;
        }

        .box {
            width: 620px;
            padding: 10px;
            border: 5px solid #CACFD2;
            margin: 0;
            border-radius: 10px;
            background-color: #D7DBDD;
        }


        p {
            margin: 0;
        }
            .collapsible {
        background-color: #ced6e0;
        color: lightslategray;
        border: none;
        margin-left: 130px;
        border-radius: 4px;
        cursor: pointer;
    }

        .collapsible:hover {
            background-color: #f1f1f1;
        }

        .collapsible:disabled {
            background-color: #f1f1f1;
            color: #aaa;
            cursor: auto;
        }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }

        .column1 {
            float: left;
            width: 25%;
            padding-right: 10px;
            height: 50%;
            background-color: #f1f1f1;
            position: fixed;
            border-radius: 30px;
        }

        .column2 {
            float: left;
            width: 100%;
            padding-left: 35%;
            height: 100%;
        }

    </style>
</head>
<body>

    <!-- The flexible grid (content) -->
    <div class="row">
        <div class="column1" align='center'>
            <img class="card-img" src="@ViewBag.company.ImgProfile" border="0" /><br />
            <p><b>@ViewBag.company.Name</b></p>
            <p><b>ที่อยู่ : </b>@ViewBag.company.Address</p>
            <p><b>โทร : </b>@ViewBag.company.Phone</p>
            <p><b>Email : </b>@ViewBag.userEmail</p>
        </div>

        <div class="column2">
            <div class="main">
                <form id="postForm">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="box">
                                <div id="Post">
                                    Create Post
                                    @{Model.CID = "1";}
                                    @{Model.PID = 1;}
                                    @Html.HiddenFor(a => a.CID);
                                    @Html.HiddenFor(a => a.PID);
                                    @Html.TextAreaFor(a => a.Detail, new { @class = "form-control", @placeholder = "Post something..." })
                                    @Html.ValidationMessageFor(a => a.Detail)
                                    @Html.TextBoxFor(a => a.ImgLink, new { @class = "form-control", @placeholder = "Link something..." })
                                    @Html.ValidationMessageFor(a => a.Detail)
                                </div>


                                <input type="file" class="form-control file-up" name="photoup[]" id="photo-up<?=$i?>" style="display:none;">
                                <a href="home" class="btn btn-sm btn-default btn-upload btn-primary" onclick="PostImgCompany()"> Upload Image</a>
                                <div class="btn btn-sm btn-danger mg-top btn-remove-file" style="display:none;">X</div>
                                <a href="home" class="btn btn-primary float-right" onclick="PostCompany()">Post</a>


                            </div>
                        </div>
                    </div>
                    <div class="container">

                        <div class="container">
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                                    crossorigin="anonymous"></script>
                            <script type="text/javascript">
                                $(function () {
                                    // เมื่อคลิกที่ปุ่มเลือกไฟล์
                                    $(".btn-upload").on("click", function () {
                                        // ให้ input file เกิด event click
                                        $(this).prev("input:file").trigger("click");
                                    });

                                    // ถ้าคลิกที่ปุ่มยกเลิกเลือกไฟล์
                                    $(".btn-remove-file").on("click", function () {
                                        var el = $(this).prevAll("input:file");
                                        el.wrap('<form>').closest('form').get(0).reset();
                                        el.unwrap();
                                        $(this).prev(".btn-upload").text("Choose File");
                                        $(this).hide();
                                    });
                                });
                            </script>
                        </div><br />
                    </div>
                </form>
                    @foreach (PostCompany pc in ViewBag.postCompanyList)
                    {
                        <p>
                            <img class="card-img1" src="@pc.company.ImgProfile" />
                            @pc.company.Name
                        </p>

                        <button class="collapsible">More Detail</button>


                        <div class="content" style="margin-left: 10%;">
                            @pc.post.Detail
                        </div>

                        <img style="margin-left: 20%;" src="@pc.post.ImgLink" />


                    }

                    <script>
                        var coll = document.getElementsByClassName("collapsible");
                        var i;

                        for (i = 0; i < coll.length; i++) {
                            coll[i].addEventListener("click", function () {
                                this.classList.toggle("active");
                                var content = this.nextElementSibling;
                                if (content.style.display === "block") {
                                    content.style.display = "none";
                                } else {
                                    content.style.display = "block";
                                }
                            });
                        }
                    </script>
                </div>
            </div>

        </div>



</body>
</html>
<script>
    var PostCompany = function () {

        var data = $("#postForm").serialize();

        $.ajax({
            type: "Post",
            url: "/Company/Home",
            data: data,
            success: function (response) {
                alert(response.responseText);
                window.location.href = "/RegisLogin/Login";
            }


        })
        debugger
    }
</script>