
@{
    ViewData["Title"] = "ProfileStudentInterest";
    Layout = "_CompanyLayout";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        img {
            margin: 20px;
            width: 500px;
        }

        .card-img {
            border-radius: 50%;
            margin-top: 10px;
            margin-left: 10px;
            width: 200px;
        }




        button {
            border: 3px solid #22a6b3;
            border-radius: 10px;
            margin-left: 425px;
            margin-top: -30px;
        }

        * {
            box-sizing: border-box;
        }

            *
            body {
                font-family: Arial;
                margin: 0;
            }
        /* Column container */
        .row {
            display: flex;
            flex-wrap: wrap;
        }

        /* Main column */
        .main {
            flex: 70%;
            background-color: white;
            padding: 20px;
        }

        .header {
            margin-left: 90px;
        }

        .column1 {
            float: left;
            width: 25%;
            padding-right: 10px;
            height: 52%;
            background-color: #f1f1f1;
            position: fixed;
            border-radius: 30px;
        }

        .column2 {
            float: left;
            width: 100%;
            padding-left: 40%;
            height: 100%;
        }

        .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            margin: 0px;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }

        /* The popup form - hidden by default */
        .form-popup {
            width: 400px;
            hight: 600px;
            display: none;
            background-color: #bdc3c7;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: #bdc3c7;
        }



            /* Set a style for the submit/login button */
            .form-container .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.8;
                margin-top: 2px;
                margin-left: 10px;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
                margin-top: 10px;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }

        input {
            position: relative;
            background: #dfe4ea;
            border: 3px solid #ced6e0;
            border-radius: 10px;
            margin-bottom: 3px;
        }

        .date {
            position: relative;
            background: #dfe4ea;
            border: 3px solid #ced6e0;
            border-radius: 10px;
            margin-bottom: 3px;
        }
    </style>
</head>
<body>

    <!-- The flexible grid (content) -->
    <div class="row">
        <div class="column1" align='center'>
            <img class="card-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" /><br />
            <p><b>ชื่อ:</b> @ViewBag.studentName</p>
            <button class="open-button" onclick="openForm()">นัดสัมภาษณ์</button>

            <div class="form-popup" id="myForm">
                <form action="/action_page.php" class="form-container">
                    <label for="interview">วันที่นัดสัมภาษณ์</label>
                    <input class="date" type="date" id="interview" name="interview"><br>
                    <label for="interview">รายละเอียดในการนัดสัมภาษณ์</label>
                    <input type="text" id="text" style="width:300px; ">
                    <button type="button" class="btn cancel" onclick="closeForm()">ยืนยัน</button>
                </form>
            </div>

            <script>
                function openForm() {
                    document.getElementById("myForm").style.display = "block";
                }

                function closeForm() {
                    document.getElementById("myForm").style.display = "none";
                }
            </script>
        </div>
        <div class="column2">
            <div class="main">
                <p><b>ชื่อ:</b> @ViewBag.studentFirstname <b>นามสกุล:</b> @ViewBag.studentLastname</p>
                <p><b>ที่อยู่:</b> @ViewBag.studentAddress  </p>
                <p><b>เบอร์โทรศัพท์:</b> @ViewBag.studentPhone  </p>
                <p><b>Facebook:</b> @ViewBag.studentFacebook  </p>
                <p><b>Email:</b> @ViewBag.studentEmail  </p>
                <p><b>Resume:</b></p><img src="@ViewBag.studentResume" border="0" />

            </div>

        </div>
        </div>

</body>
</html>


